$background-color:#E5E5E5;
$primary-color: #0078D7;
$second-color:#C4C4C4;
$third-color:#E5E5E5;
$fav-color:#FEC112;
$button-color: #0078D7;
$hover-button: rgb(52, 64, 235);
$shadow: rgba(66, 66, 66, 0.377);

